*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  list-style: none;
  text-decoration: none;
}

header{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 9%;
  background: transparent;
}
body{
  background:linear-gradient(to left, #07393C, #000000);
  color: white;
}

.logo{
  font-size: 30px;
  font-weight: 750;
  color: white;
}
.navlist{
  display: flex;
}
.navlist a{
  color: white;
  margin-left: 65px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}

.navlist a:hover{
  border-bottom: 2px solid white;
}

#menu-icon{
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}


.bx-menu {
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: none;
}

.jobs {
  margin-top: 8%;
  padding: 30px;
}

.jobs h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.job-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.job-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.job-item h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

.job-item p {
  font-size: 17px;
  margin-bottom: 10px;
}

button {
  background-color: #502F4C;
  color: white;
  border: none;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
}


button:hover {
  background-color: #294D4A;
}




@media (max-width: 990px){
  #menu-icon{
    display: block;
}header{
  position: fixed;
}
.navlist{
    position: absolute;
    top: 20%;
    right: -100%;
    width: 170px;
    height: 40vh;
    display: flex;
    align-items: right;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
    margin-bottom: 20px;

}
.navlist a{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    color: #000000;
    margin-left: 0;
    display: block;
    margin: 6px 0;
    padding: 5%;


}
.navlist.open{
    right: 0;
}
.jobs {
  margin-top: 15%;
  padding: 30px;
}
}
